DATABASE_URL="postgresql://USUARIO:CONTRASENA@HOST-POOLER/BASE_DE_DATOS?sslmode=require"
DIRECT_URL="postgresql://USUARIO:CONTRASENA@HOST-DIRECTO/BASE_DE_DATOS?sslmode=require"
PORT=3000
NODE_ENV=development
SESSION_SECRET="reemplazar-con-una-clave-aleatoria-de-al-menos-32-caracteres"
